.active-header {
    font-weight: 700;
}

.btn-overlay-header button {
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    transition: font-weight 0.3s ease;
    margin-top: 100px;
    transform: translate(0, 50%);
    /* Animasi perubahan font-weight */
}

.btn-overlay-header button:hover {
    font-size: 14px;
    color: #06C195;
    font-weight: 700;
    background-color: #fff;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    transition: font-weight 0.3s ease;
    margin-top: 100px;
    transform: translate(0, 50%);
    /* Animasi perubahan font-weight */
}

.btn-overlay-header .active-header {
    font-weight: 700;
    color: #06C195;
}