body,
img {
    padding-top: 56px;
    /* Sesuaikan dengan tinggi navbar Anda */
    margin: 0;
    padding: 0;
}

.container-fluid {
    position: relative;
    z-index: 1;
    padding: 0;
    margin-top: 50px;
    /* Sesuaikan dengan tinggi navbar Anda */
}

.vertical-divider {
    border-left: 3px solid #d2d2d2;
    /* Warna dan gaya garis bisa disesuaikan */
    height: 20px;
    /* Sesuaikan tinggi garis vertikal sesuai kebutuhan */
    margin: 0 auto;
}

.link-body-emphasis {
    font-weight: 700;
    text-decoration: none;
    /* Menghapus garis bawah */
    color: #808080 !important;
    transition: color 0.3s;
}

.link-body-emphasis:hover {
    color: #06c195 !important;
    /* Warna teks pada hover menjadi #06C195 */
}

/* Remove default blue color on click */

/* styles.css */
.PopupProdukDefault {
    width: 581px;
    height: 354px;
    position: relative;
}

.Union {
    width: 280px;
    height: 280px;
    left: 25px;
    top: 25px;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.Group414 {
    width: 280px;
    height: 280px;
    left: 25px;
    top: 25px;
    /* Adjusted top value to create a 25px gap */
    position: absolute;
}

.Group426 {
    width: 227px;
    height: 235px;
    left: 329px;
    top: 25px;
    /* Adjusted top value to create a 25px gap */
    position: absolute;
}

.header-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* Sesuaikan dengan warna teks yang sesuai dengan gambar */
}

.text-background-headline {
    background-color: white;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    padding-bottom: 5px;
    display: inline-block;
}

.text-background-headline span {
    color: #06c195;
    font-weight: 700;
    font-size: 30px;
    font-family: Quicksand;
}

.main-content-container {
    margin-top: -35px !important;
    padding-left: 18% !important;
    padding-right: 18% !important;
}

.category-portaledukasi-btn {
    background-color: #727272;
    color: #ffffff;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* Text color */
    transition: background-color 0.3s, color 0.3s;
    /* Add smooth transition */
}

.category-portaledukasi-btn:hover,
.clicked {
    background-color: #06c195;
    color: #ffffff;
    font-weight: 600;
}

.category-content {
    background-color: white;
    border-radius: 15px;
    /* Adjust the border-radius as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    /* Adjust the box-shadow as needed */
    padding: 50px;
    /* Add padding to the container */
    margin-top: 20px;
    /* Add margin to separate from the buttons */
}

.category-portaledukasi-btn-jelajahi {
    background-color: #06c195;
    color: #ffffff;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-portaledukasi-btn-jelajahi:hover {
    background-color: #079473;
    color: #ffffff;
    font-weight: 600;
}

.card {
    margin-top: 40px;
    margin-right: 40px;
}

.wrapper-card-kategori {
    width: 105%;
}

.info-card-category,
.info-card-category-icon {
    margin-top: 2px;
    margin-bottom: 2px;
}

.article-card {
    margin-right: 25px;
}

.keterangan-additional-text-container {
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.additional-text-container {
    background-color: #06c195;
    color: white;
    margin-right: 7px;
}

.gambar-card-category {
    position: relative;
    overflow: hidden;
    padding-top: 66.6667%;
}

.gambar-only-card-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CARD CAROUSEL CATEGORY */
.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #06c195;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

.artikel-baru {
    padding-top: 6%;
}

.most-visited-artikel {
    padding-top: 6%;
}

.gambar-card-artikel-baru {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.gambar-only-card-artikel-baru {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-wrapper {
    margin-left: -15px;
}

.komentar {
    background-color: white;
    border-radius: 15px;
    /* Adjust the border-radius as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    /* Adjust the box-shadow as needed */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    padding-bottom: 20px;
}

footer p {
    margin-bottom: 50px;
    /* Menambah jarak antara tulisan copyright dan tombol */
}

.image-footer-container {
    position: relative;
    width: 100%;
}

.btn-overlay-footer {
    position: absolute;
    margin-top: 1%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* Atur nilai z-index */
}

.text-overlay-footer {
    position: absolute;
    margin-top: 1%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 5;
    /* Atur nilai z-index yang lebih rendah dari .btn-overlay-footer */
}

.text-overlay-footer p {
    font-family: Quicksand;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    /* Menjadikan elemen inline-block */
}

.text-overlay-footer .Semuabisatahu {
    font-size: 75px;
    margin-bottom: -25%;
}

.text-overlay-footer .Hashtag {
    font-size: 150px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: -50px;
    transform: translateY(12%);
    /* OVERPOWERED BRO! */
}

.btn-overlay-footer button:hover {
    background-color: #fff;
    color: #06c195;
    font-weight: 700;
    white-space: nowrap;
}

/* CSS untuk tombol default */
.btn-overlay-footer button {
    color: #555555;
    background-color: #fff;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    transition: font-weight 0.3s ease;
    /* Animasi perubahan font-weight */
}

.btn-overlay-header button {
    color: #555555;
    background-color: #fff;
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    transition: font-weight 0.3s ease;
    /* Animasi perubahan font-weight */
}

.list-unstyled {
    font-size: 16px;
    color: #727272;
    list-style: none;
    padding-left: 0;
}

.list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-unstyled li svg {
    margin-right: 10px;
    /* Jarak antara lingkaran dan teks */
}

.card {
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: -10px;
    /* Sesuaikan posisi vertikal shape putih */
    right: -10px;
    /* Sesuaikan posisi horizontal shape putih */
    width: 50px;
    /* Sesuaikan lebar shape putih */
    height: 50px;
    /* Sesuaikan tinggi shape putih */
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    /* Pastikan lebih tinggi dari gambar card */
}

.card:hover::before {
    opacity: 1;
}

@media (max-width: 768px) {
    /* Styles for mobile */
    body,
    img {
        padding-top: 56px;
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        margin-top: 30px;
        /* Menyesuaikan margin atas */
    }

    .vertical-divider {
        display: none;
        /* Sembunyikan garis vertikal di tampilan mobile */
    }

    .category-portaledukasi-btn,
    .category-portaledukasi-btn-jelajahi {
        padding-left: 15px;
        padding-right: 15px;
        /* Sesuaikan ukuran tombol */
    }

    .main-content-container {
        padding-left: 5% !important;
        padding-right: 5% !important;
        /* Sesuaikan padding untuk konten utama */
    }

    .text-background-headline {
        padding-left: 20px;
        padding-right: 20px;
        /* Sesuaikan padding untuk teks headline */
    }

    .list-unstyled li svg {
        margin-right: 8px;
        /* Sesuaikan jarak antara lingkaran dan teks pada mobile */
    }

    .cards-wrapper .card {
        flex: 0 0 100%;
        /* Kartu akan memenuhi lebar layar penuh */
        max-width: 100%;
        /* Hindari overflow horizontal */
    }
}
