:root {
    --hijau-idl: #06c195;
    --putih-idl: #ffffff;
    --abu-idl: #727272;
    --nf-idl: #cacaca;
}
body {
    background-color: var(--putih-idl);
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
