@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 3rem 0;
}

.container {
    padding: 0 10rem;
}

.top-start {
    border-radius: 100px 0px;
}

.top-end {
    border-radius: 0px 100px;
}

.img-top-start {
    border-radius: 70px 0px;
}

.img-top-end {
    border-radius: 0px 70px;
}

.card-img-top-start {
    border-radius: 50px 0px;
}

.card-img-top-end {
    border-radius: 0px 50px;
}

.bg-orange{
    background-color: #ED7845;
}

.bg-grey {
    background-color: #E2E2E2;
}

.bg-green {
    background-color: #469022;
}

.inner-container {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

#header .container .inner-container {
    padding: 1rem 5rem 1rem 6rem;
}

#header .search {
    margin-top: 1rem;
}

#header .search-input {
    background: #FFF;
    padding: 0 2rem;
    font-size: 14px;
    color: #ADADAD;
    height: 40px;
    min-width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.25);
}

#header .search .btn {
    height: 40px;
    padding: 0.6rem 1.7rem;
    position: relative;
    z-index: 999;
    left: -26%;
}

#header .search .btn:hover,
#header .sorting .btn:hover {
    background-color: #a24b25;
}

#header .search .btn,
#header .sorting .btn {
    font-size: 12px;
    font-weight: 700;
    transition: ease 0.3s;
}

#header .sorting {
    margin-top: 1rem;
}

#header .sorting .btn {
    padding: 0.6rem 1.7rem;
    box-shadow: 0px 0px 10px 0px rgba(57, 57, 57, 0.25);
}

/* Details */
#details .container .inner-container {
    padding: 1rem 2rem;
}

#details .col-sm-4 {
    padding-right: 4rem;
}

#details .content p {
    margin-bottom: 0;
}

#details .content .rating {
    color: #FFC700;
    font-weight: 700;
    margin-bottom: 4px;
}

#details .content .nama-produk {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

#details .content .deskripsi {
    font-size: 10px;
    margin-bottom: 14px;
    line-height: 12px;
    text-align: justify;
}

#details .content .title-harga {
    font-weight: 700;
    font-size: 10px;
}

.table-details th:first-child,
.table-harga th:first-child {
    width: 40%;
    white-space: nowrap;
}

.table-details th:last-child,
.table-harga th:last-child {
    font-weight: 700;
}

.table-details th,
.table-harga th {
    font-size: 10px;
    font-weight: 400;
    padding: 1px 1px 1px 0;
}

.img-utama {
    width: 110%;
    height: 450px;
    overflow: hidden;
    margin-left: -10%;
}

.img-utama img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-detail {
    height: 100%;
    padding-right: 4px;
}

.img-container {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.total-item .item {
    border-radius: 0;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 3px;
}

.total-item input {
    margin: 0 5px;
    text-align: center;
    font-size: 13px;
}

.total-item .btn.bg-green {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.total-harga {
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

/* Produk Terkait */
#produk-terkait .inner-container,
#produk-dicari .inner-container,
#produk-pilihan .inner-container {
    padding: 1.8rem 3.5rem;
}

#produk-terkait .title h5,  
#produk-dicari .title h5, 
#produk-pilihan .title h5 {
    color: #6d6d6d;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-product .img-container {
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.card-product .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-product p {
    margin: 0;
}

.card-product a {
    text-decoration: none;
    color: #000000;
}

.card-product .nama-produk,
.card-product .kategori {
    font-size: 9px;
}

.card-body .harga,
.card-body .rating {
    font-size: 10px;
}

.card-body {
    padding: 10px 0;
}

.card-body .harga,
.card-body .nama-produk,
.card-body .rating {
    font-weight: 700;
}

.card-body .rating {
    color: #FFC700;
}

.card-body .bg-grey {
    width: 30px;
    height: fit-content;
    padding: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: 700;
}

.card-body .cart {
    border-radius: 0;
    padding: 2px 12px;
    font-size: 8px;
}